@page
@model BookListFinal.Pages.Courses.CoursesIndexModel
@{
}
<h1>List Of Classes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class=" table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].TeacherName)
            </th>

            <th></th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>
                    <a asp-page="./Update" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>